.work-history{
    @include flex;
    flex-direction: column;
    padding:rem(50px) 0;
    width: rem(1140px);
    margin: 0 auto;

    &__content{
        margin: rem(50px) 0;
        @include flex;
        flex-direction: column;
        width: 100%;
    }

    &__job{
        width: 100%;
    }

    &__title{
        font-weight: 600;
    }

    &__company{
        font-size: rem(20px);
        font-weight: 600;
        text-decoration: underline;
        margin-bottom: rem(10px);
    }

    &__duration{
        font-style: italic;
        color: #9eb6c5;
    }
}
